<h1 mat-dialog-title>Editar revisión</h1>
<div mat-dialog-content *ngIf="reason && date">
  <form class="flex flex-col">
    <mat-form-field appearance="outline">
      <mat-label>Nombre de la revisión</mat-label>
      <input matInput [formControl]="reason" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Fecha de la revisión</mat-label>
      <input
        name="date"
        matInput
        type="datetime-local"
        [ngModel]="date | date: 'yyyy-MM-ddTHH:mm'"
        (ngModelChange)="date = dateChanged($event)"
      />
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions class="flex flex-row justify-around">
  <button mat-button (click)="cancel()">Cancelar</button>
  <button mat-button (click)="save()">Confirmar</button>
</div>
