<app-header></app-header>

<div class="p-4" *ngIf="users">
  <mat-list class="mat-elevation-z8 w-full mt-4">
    <mat-list-item *ngFor="let user of users">
      <mat-icon [matTooltip]="getTooltip(user.admin_role)" mat-list-icon
        >{{ getUserIcon(user.admin_role) }}
      </mat-icon>
      <div mat-line>{{ user.username }}</div>
      <div mat-line>{{ user.name }}</div>
      <button matTooltip="Editar usuario" [routerLink]="user._id" class="mr-4">
        <mat-icon>edit</mat-icon>
      </button>
      <button matTooltip="Borrar usuario" (click)="deleteUser(user._id)">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-list-item>
  </mat-list>
</div>
<div class="p-4 flex flex-col items-center">
  <button mat-flat-button color="primary" routerLink="create">
    Crear usuario
  </button>
</div>
