<app-header></app-header>

<mat-tab-group mat-align-tabs="center">
    <mat-tab label="Descripción">
        <form [formGroup]="descriptionFormGroup" *ngIf="loaded" class="p-4">
            <div class="rounded border-2 border-primary p-4 mb-4">
                <div class="grid grid-flow-row grid-cols-3 gap-4">
                    <mat-form-field appearance="standard">
                        <mat-label>CÓDIGO MÓDULO</mat-label>
                        <input matInput formControlName="cod_modulo">
                    </mat-form-field>
                    <mat-form-field appearance="standard">
                        <mat-label>PLANO SITUACIÓN</mat-label>
                        <input matInput formControlName="plano_situacion">
                    </mat-form-field>
                    <mat-form-field appearance="standard">
                        <mat-label>PLANO ELÉCTRICO</mat-label>
                        <input matInput formControlName="plano_electrico">
                    </mat-form-field>
                </div>
            </div>

            <div class="rounded border-2 border-primary p-4">
                <div class="grid grid-flow-row grid-cols-4 gap-4">
                    <div class="flex flex-col">
                        <mat-form-field appearance="standard">
                            <input matInput type="number" formControlName="num_componentes">
                            <mat-label>Nº DE COMPONENTES - SMDC:</mat-label>
                        </mat-form-field>
                    </div>
                    <div class="flex flex-col">
                        <mat-form-field appearance="standard">
                            <input matInput type="number" formControlName="smds">
                            <mat-label>SMDS:</mat-label>
                        </mat-form-field>
                    </div>
                    <div class="flex flex-col">
                        <mat-form-field appearance="standard">
                            <input matInput type="number" formControlName="tht">
                            <mat-label>THT:</mat-label>
                        </mat-form-field>
                    </div>
                    <div class="flex flex-col">
                        <mat-form-field appearance="standard">
                            <input matInput type="number" formControlName="max_lt">
                            <mat-label>MÁX LT:</mat-label>
                        </mat-form-field>
                    </div>
                </div>

                <!-- DATOS PCB -->
                <mat-form-field appearance="standard" class="w-full">
                    <mat-label>DATOS PCB:</mat-label>
                    <input matInput formControlName="datos_pcb">
                </mat-form-field>
                <mat-form-field appearance="standard" class="w-full">
                    <mat-label>SERIGRAFÍA:</mat-label>
                    <input matInput formControlName="serigrafia">
                </mat-form-field>
                <mat-form-field appearance="standard" class="w-full">
                    <mat-label>REFLUJO:</mat-label>
                    <input matInput formControlName="reflujo">
                </mat-form-field>
                <mat-form-field appearance="standard" class="w-full">
                    <mat-label>ADHESIVO:</mat-label>
                    <input matInput formControlName="adhesivo">
                </mat-form-field>
                <mat-form-field appearance="standard" class="w-full">
                    <mat-label>OLA:</mat-label>
                    <input matInput formControlName="ola">
                </mat-form-field>
                <mat-form-field appearance="standard" class="w-full">
                    <mat-label>NORMA SURTEL:</mat-label>
                    <input matInput formControlName="norma_surtel">
                </mat-form-field>
                <mat-form-field appearance="standard" class="w-full">
                    <mat-label>NORMA CLIENTE:</mat-label>
                    <input matInput formControlName="norma_cliente">
                </mat-form-field>

                <div class="flex flex-row">
                    <div class="flex flex-row items-center w-full">
                        <mat-form-field class="w-full pr-2" appearance="standard">
                            <mat-label>PRODUCTO:</mat-label>
                            <input matInput formControlName="producto">
                        </mat-form-field>
                    </div>
                    <div class="flex flex-row items-center w-full">
                        <mat-form-field class="w-full pl-2" appearance="standard">
                            <mat-label>CLIENTE:</mat-label>
                            <input matInput formControlName="cliente">
                        </mat-form-field>
                    </div>
                </div>

                <mat-form-field appearance="standard" class="w-full">
                    <mat-label>DENOMINACIÓN:</mat-label>
                    <input matInput formControlName="denominacion">
                </mat-form-field>
                <mat-form-field appearance="standard" class="w-full">
                    <mat-label>CÓDIGO:</mat-label>
                    <input matInput formControlName="codigo">
                </mat-form-field>
            </div>
        </form>
    </mat-tab>
    <mat-tab label="Contenido">
        <div class="px-4 pt-4 w-full flex flex-col items-end">
            <button mat-flat-button color="primary" class="mt-4" (click)="addRow()">Agregar fila</button>
        </div>
        <div class="px-4 pb-4">
            <table #table *ngIf="dataSource?.length > 0" mat-table [dataSource]="dataSource"
                class="mat-elevation-z8 w-full mt-4" cdkDropList [cdkDropListData]="dataSource"
                (cdkDropListDropped)="dropTable($event)">
                <ng-container matColumnDef="true">
                    Hola
                </ng-container>
                <ng-container matColumnDef="position">
                    <th mat-header-cell *matHeaderCellDef>Nº línea</th>
                    <td mat-cell *matCellDef="let element; let i = index">
                        <div class="flex flex-row items-center">
                            <mat-icon cdkDragHandle>reorder</mat-icon>
                            <span class="p-2">{{i + 1}}</span>
                        </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="CODIGO">
                    <th mat-header-cell *matHeaderCellDef>Código</th>
                    <td mat-cell *matCellDef="let element"> {{element['CODIGO']}} </td>
                </ng-container>

                <ng-container matColumnDef="DENOMINACION">
                    <th mat-header-cell *matHeaderCellDef>Denominación</th>
                    <td mat-cell *matCellDef="let element">
                        <span *ngIf="element.type === 'component'">{{element['DENOMINACION']}}</span>
                        <span *ngIf="element.type === 'text'">Línea de texto:</span>
                    </td>
                </ng-container>

                <ng-container matColumnDef="FASE">
                    <th mat-header-cell *matHeaderCellDef>Fase</th>
                    <td mat-cell *matCellDef="let element"> {{element['FASE']}} </td>
                </ng-container>

                <ng-container matColumnDef="REFERENCIA">
                    <th mat-header-cell *matHeaderCellDef>Referencia</th>
                    <td mat-cell *matCellDef="let element"> {{element['REFERENCIA']}} </td>
                </ng-container>

                <ng-container matColumnDef="CANTIDAD">
                    <th mat-header-cell *matHeaderCellDef class="col-center">Cantidad</th>
                    <td mat-cell *matCellDef="let element" class="text-center"> {{element['CANTIDAD']}} </td>
                </ng-container>

                <ng-container matColumnDef="UNIDAD">
                    <th mat-header-cell *matHeaderCellDef class="unit-col col-center">Unidad</th>
                    <td mat-cell *matCellDef="let element" class="unit-col">
                        <mat-select *ngIf="element.type === 'component'" [formControl]="element['UNIDAD']"
                            class="text-center pr-2 w-full">
                            <mat-option *ngFor="let unit of units" [value]="unit.value">
                                {{unit.value}}
                            </mat-option>
                        </mat-select>
                    </td>
                </ng-container>

                <ng-container matColumnDef="COMENTARIOS">
                    <th mat-header-cell *matHeaderCellDef>Comentarios</th>
                    <td mat-cell *matCellDef="let element">
                        <textarea *ngIf="element.type === 'component'" class="mt-2"
                            [formControl]="element['COMENTARIOS']"></textarea>
                        <textarea *ngIf="element.type === 'text'" class="mt-2"
                            [formControl]="element['CONTENIDO']"></textarea>
                    </td>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let element">
                        <div class="flex flex-row">
                            <button *ngIf="authService.isAdmin()" class="p-0" mat-flat-button
                                (click)="deleteRow(element)">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </div>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns; let i = index" cdkDrag [cdkDragData]="row">
                </tr>
            </table>
        </div>
    </mat-tab>
    <mat-tab label="Revisiones">
        <div class="p-4">
            <mat-list class="mat-elevation-z8 w-full mt-4" *ngIf="document?.revisions?.length > 0">
                <mat-list-item *ngFor="let revision of document?.revisions; let i = index">
                    <mat-icon mat-list-icon>folder</mat-icon>
                    <span mat-line>Nº Revisión: {{i + 51}}</span>
                    <div mat-line>{{revision.reason}}</div>
                    <div mat-line>Fecha: {{revision.updated_at | date:'YYYY-MM-dd HH:mm'}}</div>
                    <div>Guardada por: {{revision.user.username}}</div>
                    <div class="flex flex-row">
                        <button *ngIf="authService.isAdmin()" class="p-0" mat-flat-button
                            (click)="restoreRevision(revision)">
                            <mat-icon>restore</mat-icon>
                        </button>
                    </div>
                </mat-list-item>
            </mat-list>

            <mat-list class="mat-elevation-z8 w-full mt-4"
                *ngIf="document?.revisions?.length === 0 || !document?.revisions">
                <mat-list-item>
                    <div mat-line>Esta es la única revisión disponible</div>
                </mat-list-item>
            </mat-list>
        </div>
    </mat-tab>
</mat-tab-group>

<div class="pb-4 w-full flex flex-col items-center">
    <button mat-flat-button color="primary" class="mt-4" (click)="update_document()">Guardar</button>
</div>