<app-header></app-header>

<form [formGroup]="descriptionFormGroup" *ngIf="loaded">
    <div class="rounded border-2 border-primary p-4 mb-4">
        <div class="grid grid-flow-row grid-cols-3 gap-4">
            <mat-form-field appearance="standard">
                <mat-label>CÓDIGO MÓDULO</mat-label>
                <input matInput formControlName="cod_modulo">
            </mat-form-field>
            <mat-form-field appearance="standard">
                <mat-label>PLANO SITUACIÓN</mat-label>
                <input matInput formControlName="plano_situacion">
            </mat-form-field>
            <mat-form-field appearance="standard">
                <mat-label>PLANO ELÉCTRICO</mat-label>
                <input matInput formControlName="plano_electrico">
            </mat-form-field>
        </div>
    </div>

    <div class="rounded border-2 border-primary p-4">
        <div class="grid grid-flow-row grid-cols-4 gap-4">
            <div class="flex flex-col">
                <mat-form-field appearance="standard">
                    <input matInput type="number" formControlName="num_componentes">
                    <mat-label>Nº DE COMPONENTES - SMDC:</mat-label>
                </mat-form-field>
            </div>
            <div class="flex flex-col">
                <mat-form-field appearance="standard">
                    <input matInput type="number" formControlName="smds">
                    <mat-label>SMDS:</mat-label>
                </mat-form-field>
            </div>
            <div class="flex flex-col">
                <mat-form-field appearance="standard">
                    <input matInput type="number" formControlName="tht">
                    <mat-label>THT:</mat-label>
                </mat-form-field>
            </div>
            <div class="flex flex-col">
                <mat-form-field appearance="standard">
                    <input matInput type="number" formControlName="max_lt">
                    <mat-label>MÁX LT:</mat-label>
                </mat-form-field>
            </div>
        </div>

        <!-- DATOS PCB -->
        <mat-form-field appearance="standard" class="w-full">
            <mat-label>DATOS PCB:</mat-label>
            <input matInput formControlName="datos_pcb">
        </mat-form-field>
        <mat-form-field appearance="standard" class="w-full">
            <mat-label>SERIGRAFÍA:</mat-label>
            <input matInput formControlName="serigrafia">
        </mat-form-field>
        <mat-form-field appearance="standard" class="w-full">
            <mat-label>REFLUJO:</mat-label>
            <input matInput formControlName="reflujo">
        </mat-form-field>
        <mat-form-field appearance="standard" class="w-full">
            <mat-label>ADHESIVO:</mat-label>
            <input matInput formControlName="adhesivo">
        </mat-form-field>
        <mat-form-field appearance="standard" class="w-full">
            <mat-label>OLA:</mat-label>
            <input matInput formControlName="ola">
        </mat-form-field>
        <mat-form-field appearance="standard" class="w-full">
            <mat-label>NORMA SURTEL:</mat-label>
            <input matInput formControlName="norma_surtel">
        </mat-form-field>
        <mat-form-field appearance="standard" class="w-full">
            <mat-label>NORMA CLIENTE:</mat-label>
            <input matInput formControlName="norma_cliente">
        </mat-form-field>

        <div class="flex flex-row">
            <div class="flex flex-row items-center w-full">
                <mat-form-field class="w-full pr-2" appearance="standard">
                    <mat-label>PRODUCTO:</mat-label>
                    <input matInput formControlName="producto">
                </mat-form-field>
            </div>
            <div class="flex flex-row items-center w-full">
                <mat-form-field class="w-full pl-2" appearance="standard">
                    <mat-label>CLIENTE:</mat-label>
                    <input matInput formControlName="cliente">
                </mat-form-field>
            </div>
        </div>

        <mat-form-field appearance="standard" class="w-full">
            <mat-label>DENOMINACIÓN:</mat-label>
            <input matInput formControlName="denominacion">
        </mat-form-field>
        <mat-form-field appearance="standard" class="w-full">
            <mat-label>CÓDIGO:</mat-label>
            <input matInput formControlName="codigo">
        </mat-form-field>
    </div>

</form>