textarea {
  resize: none;
}

.unit-col {
  min-width: 4rem;
}

.col-center {
  text-align: center !important;
}

table tr {
  position: relative;
  height: 80px;
}

.comments-row {
  position: absolute;
  left: 10%;
  right: 20%;
}

.comments-row textarea {
  width: 100%;
}

.action-button {
  min-width: 10px !important;
  padding: 0 6px !important;
}

.uploaded-image {
  max-height: 240px;
}

.uploaded-image-td {
  border: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.image-tr {
  height: 260px !important;
}
