<div class="min-h-screen flex items-center justify-center bg-gray-50 py-12 px-4 sm:px-6 lg:px-8 login-container">
    <div class="mat-elevation-z8 mt-8 space-y-6 flex flex-col items-center p-6 bg-white">
        <img class="surtel-logo" src="assets/logos/logo-surtel.png">
        <mat-form-field class="w-full" appearance="outline">
            <mat-label>Usuario</mat-label>
            <input matInput [formControl]="username">
            <mat-icon matSuffix>person</mat-icon>
        </mat-form-field>
        <mat-form-field class="w-full" appearance="outline">
            <mat-label>Contraseña</mat-label>
            <input type="password" matInput [formControl]="password">
            <mat-icon matSuffix>lock</mat-icon>
        </mat-form-field>
        <button mat-flat-button color="primary" (click)="login()">Iniciar sesión</button>
    </div>
</div>