<app-header></app-header>

<mat-stepper class="p-2 w-full flex items-center flex-col" [linear]="true" #stepper>
    <mat-step [stepControl]="fileFormControl" class="w-full flex items-center flex-col" label="Fichero">
        <input [formControl]="fileFormControl" type="file" class="hidden" (change)="fileSelectionChanged($event)"
            #fileUpload>
        <div class="file-upload flex items-center">
            <span class="mr-2">{{fileName || "Selecciona un archivo para procesar"}}</span>
            <button mat-mini-fab color="primary" class="upload-btn" (click)="fileUpload.click()"
                matTooltip="Seleccionar archivo">
                <mat-icon>attach_file</mat-icon>
            </button>
            <span class="spacer"></span>
            <button mat-flat-button color="primary" *ngIf="fileFormControl?.valid" matStepperNext>Continuar</button>
        </div>

        <table *ngIf="dataSource?.length > 0" mat-table [dataSource]="dataSource" class="mat-elevation-z8 w-full mt-4">
            <ng-container matColumnDef="CANTIDAD">
                <th mat-header-cell *matHeaderCellDef>Cantidad</th>
                <td mat-cell *matCellDef="let element"> {{element['CANTIDAD']}} </td>
            </ng-container>

            <ng-container matColumnDef="CODIGO">
                <th mat-header-cell *matHeaderCellDef>Código</th>
                <td mat-cell *matCellDef="let element"> {{element['CODIGO']}} </td>
            </ng-container>

            <ng-container matColumnDef="DENOMINACION">
                <th mat-header-cell *matHeaderCellDef>Denominación</th>
                <td mat-cell *matCellDef="let element"> {{element['DENOMINACION']}} </td>
            </ng-container>

            <ng-container matColumnDef="FASE">
                <th mat-header-cell *matHeaderCellDef>Fase</th>
                <td mat-cell *matCellDef="let element"> {{element['FASE']}} </td>
            </ng-container>

            <ng-container matColumnDef="REFERENCIA">
                <th mat-header-cell *matHeaderCellDef>Referencia</th>
                <td mat-cell *matCellDef="let element"> {{element['REFERENCIA']}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </mat-step>
    <mat-step [stepControl]="descriptionFormGroup" label="Datos ficha">
        <app-document-description-form [descriptionFormGroup]="descriptionFormGroup"></app-document-description-form>
    </mat-step>
    <mat-step label="Confirmar">
        <div class="p-4 mat-elevation-z8">
            <p>Introduce el nombre del documento:</p>
            <mat-form-field appearance="outline">
                <mat-label>Nombre</mat-label>
                <input matInput [formControl]="nameForm">
            </mat-form-field>
            <div>
                <button mat-button matStepperPrevious>Retroceder</button>
                <button mat-button (click)="submit()">Confirmar</button>
            </div>
        </div>
    </mat-step>
</mat-stepper>