<h1 mat-dialog-title>Confirmar revisión</h1>
<div mat-dialog-content>
  <p>
    ¿Seguro que quieres crear una nueva revisión del documento? Asegúrate de
    guardar antes los cambios si has añadido una nueva imagen al documento.
  </p>
  <mat-form-field appearance="fill">
    <mat-label>Cambios:</mat-label>
    <input matInput [formControl]="reasonForm" />
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="cancel()">Cancelar</button>
  <button mat-button (click)="confirm()">Confirmar</button>
</div>
