<mat-toolbar color="primary">
    <img class="surtel-logo" src="assets/logos/logo-surtel-white.png" routerLink="">
    <span class="spacer"></span>
    <button mat-stroked-button class="add-button" routerLink="/upload" matTooltip="Subir fichero">
        <mat-icon>add</mat-icon>
    </button>
    <button class="menu-button" mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/users" *ngIf="authService.isAdmin()">
            <mat-icon>people</mat-icon>
            <span>Administrar usuarios</span>
        </button>
        <button mat-menu-item (click)="logout()">
            <mat-icon>logout</mat-icon>
            <span>Cerrar sesión</span>
        </button>
    </mat-menu>

</mat-toolbar>